<div class="grid-item">
    <wa-card class="card-overview">
        <h2 class="rh-service-catalog-title alb-searchable" data-row-height-id="service-name" data-field-key="service-name">
            {{title}}
        </h2>

        <div class="rh-service-catalog-description alb-searchable" data-row-height-id="service-description" data-field-key="service-description">
            {{description}}
        </div>

        {{#if coreServices.length}}
            {{> coreServicesPartial coreServices}}
        {{/if}}

        {{#if clients.length}}
            {{> clientsPartial clients}}
        {{/if}}

        <div class="rh-service-catalog-request-services-wrapper" data-field-key="request-services">
            <a class="su-link--action" title="Request services for {{title}}" aria-label="Request services for {{title}}" href="{{requestLink}}">
                Request Services
            </a>
        </div>
    </wa-card>
</div>
